body{
	background-image:url("bgimg.jpg");
    background-color:transparent;
}
 .first{
 	width:245px;
    background-color: bisque;
    margin-top:15%;
    margin-left:43%;
    font-weight: bold;
 }
 .navbar-header .navbar-brand{
 			    color: blue;
   				font-weight: bold;
   				margin-left:50px;
}
 
 .second {
    width: 350px;
    background-color: bisque;
    font-weight: bold;
    margin-left: 39%;
    margin-top: -1%;
}
 .third {
    background-color: cornsilk;
    height: 75px;
    padding: 10px;
}
 .cl{
 	color:crimson;
 }
 
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 250px;
    color: yellowgreen;
    font-size: x-large;
}

.navbar-right {
    float: right!important;
    margin-right: 126px;
}

.div0{
    height: 53px;
    width: 30px;
    margin-left: 261px;
}

.div1 {
    width: 100%;
    height: 285px;
    background-color: floralwhite;
}
h1{
    color: darkblue;
    }

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 3px;
}

.div2{
    position: relative;
    margin-left: 261px;
    height: 18%;
    width: 22%;
    text-align: justify;
    font-size: x-small;
    font-weight: bold;
}
.div3{
    
    position: relative;
    text-align: justify;
    width: 22%;
    height: 36%;
    font-size: x-small;
    font-weight: bold;
    margin-left: 568px;
    float: left;
    margin-top: -51px;
}

.div4{
    
    position: relative;
    text-align: justify;
    width: 22%;
    height: 36%;
    font-size: x-small;
    font-weight: bold;
    margin-left: 868px;
    float: left;
    margin-top: -104px;
}

.div5{
    position:relative;
    width:100%;
    height: 560px;
    background-color:darkgrey;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-header .navbar-brand {
    color: aliceblue;
    font-weight: bold;
    margin-left: 245px;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 132px;
    margin: 0px;
}

.div6{
    position:relative;
    width:100%;
    height: 330px;
    background-color:crimson;
}
.div7{
    position:relative;
    width:25%;
    height:100px;
    /*background-color:black;*/
    margin-left:250px;
    padding-top:100px;
    text-align:justify;
    font-weight:bold;

}

.vd{
    float:right;
    margin-top:-75px;
    margin-right:150px;
    /*background-color: transparent;*/

}

.ooo{
    margin-top: -58px;
    margin-bottom: 10px;
    color: aliceblue;
}

.div8{
    position:relative;
    width:100%;
    height: 150px;
    background-color:aliceblue;
}
h3 {
    margin-top: -69px;
    margin-bottom: 10px;
}

.div9 {
    width: 320px;
    padding: 10px;
    border: none;
    padding: 50px;
    margin-left: 150px;
    font-style: italic;
    font-weight: bold;
    color: aqua;
    display:inline-block;
}

.ppp{
    text-align: right;
    margin-right: 263px;
    margin-top: -77px;
    color: blue;
    font-weight: bold;
}

.div10{
    position:relative;
    width:100%;
    height: 400px;
    background-image:url("cam.jpg");
}

.pop{
    color:whitesmoke;
    font-weight:bold;
    font-size:xx-large;
    padding:80px;

}

.pip{
    color:burlywood;
    font-weight:bold;
    font-size:larger;
    text-align:justify;
    margin-left:86px;
}
.box1 {
    width: 3%;
    height: 40px;
    margin-right: 10px;
    float:right;
}

.box2 {
    width: 3%;
    height: 40px;
    margin-right: 380px;
    float:right;
}
.box3 {
    width: 3%;
    height: 40px;
    margin-left: 10px;
    float:left;
}
.box4 {
    width: 3%;
    height: 40px;
    margin-left: 300px;
    float:left;
}
.diva{
    width:100%;
    height:300px;
    background-color:silver;
}
.testit {
    color: darkred;
    font-weight: bold;
    padding: 65px;
    font-size: xx-large;
}
.Testit {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-left: 167px;
}

.col-sm-5 {
    width: 41.66666667%;
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
}

.foo{
    width:100%;
    height:100px;
    background-color:azure;
    padding:20px;

}
.pad{
    padding:90px;
}
.pad1{
    padding-top:15px;
}